/* Basic styling for the select box container */
.selectbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid gray;
    border-radius: 0; /* For the square shape */
    padding: 5px;
  }
  
  /* Styles for the select input */
  .selectbox-container .react-select__control {
    border: 1px solid gray;
    box-shadow: none;
    min-height: 36px;
  }
  
  .selectbox-container .react-select__option--is-selected {
    background-color: #0a65cc;
    color: white;
  }
  
  .selectbox-container .react-select__option:hover {
    background-color: #0a65cc;
    color: white;
  }
  
  .selectbox-container .react-select__single-value {
    display: flex;
    align-items: center;
  }
  
  /* Responsive Styles */
  @media (min-width: 1024px) {
    /* Laptop Styles */
    .selectbox-container {
      padding: 10px;
      font-size: 16px;
    }
  }
  
  @media (max-width: 767px) {
    /* Phone Styles */
    .selectbox-container {
      padding: 8px;
      font-size: 12px;
    }
  }
  