
.user-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    gap: 5px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .user-stats:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .user-stats-button {
    background-color: rgba(173, 216, 230, 1);
    width: 72px;
    border-radius: 50px;
    padding: 10px;
  }
  
  .user-stats-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  
  .user-stats-number {
    font-size: 24px;
    font-weight: 500;
    color: #4a4a4a;
  }
  
  .user-stats-label {
    font-size: 16px;
    font-weight: normal;
    color: #8c8c8c;
  }
  
  @media (max-width: 768px) {
    .user-stats {
      width: 100%;
      padding: 10px;
    }
  
    .user-stats-number {
      font-size: 20px; 
    }
  
    .user-stats-label {
      font-size: 14px; /* Smaller font size for mobile */
    }
  }
  
