
.active-slide {
    transform: scale(0.75); 
    transition: transform 0.3s ease;
  }
  
  .alice-carousel {
      width: 100%;
    overflow: hidden;
  }
  
  .alice-carousel .alice-carousel__stage {
    display: flex;
  }
  
  @media (max-width: 768px) {
    .active-slide {
      transform: scale(0.6);
    }
  
    .alice-carousel {
      padding: 0 20px;
    }
  }
  
  @media (min-width: 769px) {
    .active-slide {
      transform: scale(0.75);
    }
  }
  
