.text {
    color: #6c757d; 
    font-family: 'Inter', sans-serif;
    font-style: normal;
  }
  
  .textxs {
    font-size: 14px;
    font-weight: normal;
  }
  
  .texts {
    font-size: 16px;
    font-weight: normal;
  }
  
  .textmd {
    font-size: 18px;
    font-weight: normal;
  }
  
  @media (max-width: 1024px) {
    .textmd {
      font-size: 15px;
    }
  
    .texts {
      font-size: 13px;
    }
  }
  
  @media (max-width: 768px) {
    .textmd {
      font-size: 14px;
    }
  
    .texts {
      font-size: 12px;
    }
  
    .textxs {
      font-size: 12px;
    }
  }
  
